body {
  color: #333;
  background: cornflowerblue;
  padding: 20px;
  text-align: center;
  font-family: Arial; }

canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  pointer-events: none; }

.space3d {
  perspective: 1000px;
  height: 100vh;
  top: 40vh;
  margin-left: 150px;
  perspective-origin: 150px center; }

._3dbox {
  transition: all 0.85s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  text-align: center;
  position: absolute;
  cursor: pointer;
  transform-style: preserve-3d; }

.f {
  overflow: hidden;
  position: absolute;
  background: darkorchid;
  box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.1), 0 0 30px rgba(0, 0, 0, 0.3);
  color: #333;
  opacity: 0.8; }

.cube-100px {
  width: 100px;
  height: 100px; }
  .cube-100px > .f {
    width: 100px;
    height: 100px; }
  .cube-100px > .f--front {
    transform: translate3d(0, 0, 50px);
    background: #5f1f7f; }
  .cube-100px > .f--top {
    transform: rotateX(90deg) translate3d(0, 0, 50px); }
  .cube-100px > .f--bottom {
    transform: rotateX(-90deg) translate3d(0, 0, 50px); }
  .cube-100px > .f--left {
    left: 50%;
    margin-left: -50px;
    background: #7e29a8;
    transform: rotateY(-90deg) translate3d(0, 0, 50px); }
  .cube-100px > .f--right {
    left: 50%;
    margin-left: -50px;
    background: #7e29a8;
    transform: rotateY(90deg) translate3d(0, 0, 50px); }
  .cube-100px > .f--back {
    transform: rotateY(180deg) translate3d(0, 0, 50px); }

.cube-30px {
  width: 30px;
  height: 30px; }
  .cube-30px > .f {
    width: 30px;
    height: 30px; }
  .cube-30px > .f--front {
    transform: translate3d(0, 0, 15px);
    background: #5f1f7f; }
  .cube-30px > .f--top {
    transform: rotateX(90deg) translate3d(0, 0, 15px); }
  .cube-30px > .f--bottom {
    transform: rotateX(-90deg) translate3d(0, 0, 15px); }
  .cube-30px > .f--left {
    left: 50%;
    margin-left: -15px;
    background: #7e29a8;
    transform: rotateY(-90deg) translate3d(0, 0, 15px); }
  .cube-30px > .f--right {
    left: 50%;
    margin-left: -15px;
    background: #7e29a8;
    transform: rotateY(90deg) translate3d(0, 0, 15px); }
  .cube-30px > .f--back {
    transform: rotateY(180deg) translate3d(0, 0, 15px); }

.cube-100px {
  top: 70vh;
  transform: translateY(300px); }
  .cube-100px:hover {
    top: 69vh; }

.cube-30px {
  left: 38%;
  top: 50px;
  transition: 0.3s ease 0.1s;
  transform: translateZ(10px) rotateX(10deg) rotateY(120deg) rotateZ(-50deg); }

.cube-100px.open .cube-30px {
  top: -60px;
  transform: translateZ(0px) rotateX(345deg) rotateY(345deg) rotateZ(345deg);
  opacity: 1; }

@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(20deg); }
  30% {
    transform: rotateX(10deg) rotateY(120deg) rotateZ(-50deg); }
  70% {
    transform: rotateX(-170deg) rotateY(-20deg) rotateZ(150deg); } }

@keyframes go-down {
  to {
    transform: translateY(0); } }

.scanlines {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.2) 70%, rgba(0, 0, 0, 0.4));
  background-size: 6px 6px;
  pointer-events: none;
  position: fixed;
  z-index: 3;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }
